<div class="companyLogo">
<img height="150px" class="p-1" src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png" alt="No Image">
</div>
<div class="list mt-4">
   <div class="innerList">
        <div class="symbols">
            <h4 style="color: #37b549;line-height: 1.8;"> <i class="fa-solid fa-house"> </i></h4>
            <h4> <i class="fa-solid fa-chart-simple lineHeight"></i></h4>
            <h4> <i class="fa-solid fa-message lineHeight"></i> </h4>
            <h4> <i class="fa-solid fa-envelope lineHeight"></i> </h4>
            <h4> <i class="fa-solid fa-user lineHeight"></i> </h4>
            <h4> <i class="fa-solid fa-gears lineHeight"></i> </h4>
        </div>
        <div class="names">
            <h4 style="color:#265835;line-height: 1.8;">Dashboard</h4>
            <h4 class="lineHeight">Chart <span class="badge rounded-pill">2</span></h4>
            <h4 class="lineHeight">Form</h4>
            <h4 class="lineHeight">Email</h4>
            <h4 class="lineHeight">Profile  <span class="badge rounded-pill">2</span></h4>
            <h4 class="lineHeight">Settings</h4>
        </div>
   </div>
    <div class="signout text-center">
        <h4 class="p-2">SIGN OUT</h4>
    </div>
</div>